td{
    padding:1px;
}
.formBorder{
    border:1px solid black;
    padding:5px;
    margin:5px    
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
  }
  .control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top:7
  }
  .err-msg{
      color:red;
  }
  table{
      vertical-align: text-top;
  }