<div>
  <div style="width:300px">
      <form [formGroup] = "userForm" (ngSubmit) = "onSubmit()">
          <h4>Personal</h4>
          <div class="form-group" formGroupName="personal" style="border:1px solid black;padding:5px;margin:5px">
            <div class="form-group" >
              <label for="firstName">First Name</label>
              <input  type="text"  id="firstName" formControlName = "firstName"   class="form-control">
                <span *ngIf="!userForm.get('personal.firstName').valid && userForm.get('personal.firstName').touched" class="help-block">
                  <span *ngIf="userForm.get('personal.firstName').errors['required']">This field is required.</span>
                </span>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input  type="text"  id="lastName" formControlName = "lastName"   class="form-control">
                  <span *ngIf="!userForm.get('personal.lastName').valid && userForm.get('personal.lastName').touched" class="help-block">
                    <span *ngIf="userForm.get('personal.lastName').errors['required']">This field is required.</span>
                  </span>
              </div>
              <div class="form-group">
                <label for="userName">User Name</label>
                <input  type="text"  id="userName" formControlName = "userName"   class="form-control">
                  <span *ngIf="!userForm.get('personal.userName').valid && userForm.get('personal.userName').touched" class="help-block">
                    <span *ngIf="userForm.get('personal.userName').errors['required']">This field is required.</span>
                  </span>
              </div>
          </div>
          <div formArrayName="contacts">
              <h4>Contacts</h4>
             <div   style="border:1px solid black;padding:5px;margin:5px"
                *ngFor="let contactControl of getContactsControls(); let i = index">
                <div [formGroupName]=i>
                  <table>
                    <tr>
                      <td>
                          <div class="form-group">
                              <label for="phone">Phone</label>
                              <input  type="text"  id="phone" formControlName = "phone"   class="form-control">
                          </div>
                      </td>
                      <td>
                          <div class="form-group">
                              <label for="address">Address</label>
                              <input  type="text"  id="address" formControlName = "address"   class="form-control">
                          </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <div class="form-group">
                              <label for="city">City</label>
                              <input  type="text"  id="city" formControlName = "city"   class="form-control">
                          </div>
                      </td>
                      <td>
                          <div class="form-group">
                              <label for="state">State</label>
                              <input  type="text"  id="state" formControlName = "state"   class="form-control">
                          </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <div class="form-group">
                              <label for="country">Country</label>
                              <input  type="text"  id="country" formControlName = "country"   class="form-control">
                          </div>
                      </td>
                      <td>
                          <div class="form-group">
                              <label for="zipcode">Zip Code</label>
                              <input  type="text"  id="zipcode" formControlName = "zipcode"   class="form-control">
                          </div>
                      </td>
                    </tr>
                  </table>
              </div>
            </div>
            <button class="btn btn-default" type="button" (click)="onAddContacts()">Add More Contacts</button>
          </div>
          <h4>Hobbies</h4>
          <div class="form-group" formGroupName="hobbies" style="border:1px solid black;padding:5px;margin:5px">
            <table>
              <tr>
                <td><input type="checkbox" formControlName="reading">Reading</td>
                <td><input type="checkbox" formControlName="singing">Singing</td>
              </tr>
              <tr>
                  <td><input type="checkbox" formControlName="dancing">Dancing</td>
                  <td><input type="checkbox" formControlName="others">Others
                    <input  *ngIf="userForm.controls.hobbies.controls.others.value" type="text"  id="otherValue" formControlName = "otherValue"   class="form-control">
                  </td>
              </tr>
            </table>
          </div>
          <br>
            <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
</div>
