<div class="main-div">
  <h2 style="text-align: center;">WeShare - Login</h2>
    <div class="imgcontainer">
      <img src="../../assets/images/msg.png" alt="WeShare" class="mail">
    </div>
    <div class="content">
      <input type="text" placeholder="Username" name="userName" >
      <br>
      <br>
      <input type="password" placeholder="Password" name="password">
      <br>
      <br>
      <button class="btn btn-success" (click)="onLogin()">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="reset" class="btn btn-danger" >Cancel</button>
    </div>
</div>