<div class="main-div">
  <h2 style="text-align: center;">WeShare - Login</h2>
    <div class="imgcontainer">
      <img src="../../assets/images/msg.png" alt="WeShare" class="mail">
    </div>
    <div class="content">
      <form (ngSubmit)="onLogin(frmLogin)" #frmLogin="ngForm">
      <input type="text" placeholder="Username" name="userName" ngModel required email #userName="ngModel">
      <span style="color:red" *ngIf="!userName.valid && userName.touched">Please enter valid email Id.</span>
      <br>
      <br>
      <input type="password" placeholder="Password" name="password" ngModel required #pwd="ngModel">
      <span style="color:red" *ngIf="!pwd.valid && pwd.touched">Please enter password.</span>
      <br>
      <br>
      <button class="btn btn-success" type="submit">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="reset" class="btn btn-danger" >Cancel</button>
    </form>
    </div>
</div>