<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div *ngIf="isLoggedIn">
        <app-sidebar></app-sidebar>
     </div>
     <div class="main-container">
        <div *ngIf="isLoggedIn">
          <app-header (logoutEvent) = "onLogout()"></app-header>
        </div>
        <!-- Main content -->
      <div *ngIf="!isLoggedIn">
        <app-login (loginAuthenticated) = "onLoginAuthenticated($event)"></app-login>
      </div>
      <div class="" *ngIf="isLoggedIn">
      <router-outlet></router-outlet>
    </div>
      <footer class="footer" *ngIf="isLoggedIn">
          <strong>Copyright &copy; 2019.</strong> KS Sample. All rights reserved.
      </footer> 
    </div>

</div>
  