<div class="row">
  <nav class="sidenav">
    <ul class = "nav">
      <li routerLinkActive="active"><a routerLink="/post"><img src="../../assets/images/newmsg.png" alt="WeShare"/>&nbsp;&nbsp;Post Message</a></li>
      <li routerLinkActive="active"><a routerLink="/view" [queryParams]="{myMsg:true}"><img src="../../assets/images/mymsg.png" alt="WeShare"/>&nbsp;&nbsp;My Messages</a></li>
      <li routerLinkActive="active"><a routerLink="/view" [queryParams]="{myMsg:false}"><img src="../../assets/images/othermsg.png" alt="WeShare"/>&nbsp;&nbsp;Others Messages</a></li>
    </ul>
  </nav>
</div>
