<div *ngIf="myMsg; else others">
  <h3 style="color:darkorange">My Messages</h3>
  <hr>
  <table style="table-layout:auto;width:100%;word-wrap:break-word;border:1px">
      <tr>
          <th>No.</th>
          <th>Message</th>
          <th>Date</th>
      </tr>
  </table>
</div>
<ng-template #others>
<div>
  <h3 style="color:darkorange">Others Messages</h3>
  <hr>
  <table style="table-layout:auto;width:100%;word-wrap:break-word;border:1px">
    <tr>
      <th>No.</th>
      <th>User</th>
      <th>Message</th>
      <th>Date</th>
  </tr>
</table>
</div>
</ng-template>
