<div class="row-cols-xs-100">
  <h3 style="color:darkorange">Post</h3>
  <form (ngSubmit)="onPost(frmPost)" #frmPost="ngForm" >
  <textarea rows = "5"  cols ="50" name ="message" placeholder="Type message here." required ngModel></textarea><br/>
<button class ="btn btn-primary" type="submit">Post</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button class ="btn btn-danger" type="reset" (click)="onClear()">Clear</button>&nbsp;&nbsp;&nbsp;&nbsp;
<br><br>
<p *ngIf="statusMsg" class = "successMsg">{{ statusMsg }}</p>
<p *ngIf="errorMsg" class = "errMsg">{{ errorMsg }}</p>
<div *ngIf="messages.length > 0">
  <h4>Messages:</h4>
  <ul>
    <li *ngFor="let msg of messages">{{msg}}</li>
  </ul>
</div>
</form>
</div>
